@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding-top: 32px;

        &_input {
            display: none;
        }
    }

    .menu {
        display: none;

        &_mob {
            display: flex;
            align-items: center;
            gap: 32px;
        }

        &_link_catalog {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 16px;
            padding-bottom: 32px;
        }
    }

    .logo {
        &_img {
            width: 99px;
        }
    }

    .title {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
    }

    .text {
        font-size: 16px;
        line-height: 32px;
        text-align: center;
    }

    .next {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading {
        font-size: 24px;
        line-height: 29px;
    }

    .for {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        &_box {
            padding-top: 32px;
        }

        &_item {
            grid-column: 1 / -1;
            height: 375px;
            font-size: 28px;
            line-height: 34px;
            display: flex;
            padding: 16px;
            transition: all 0.3s;
            box-sizing: border-box;

            &_big {
                height: 244px;
            }

            &:nth-of-type(1) {
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 5px #ccc;
                }
            }

            &:nth-of-type(2) {
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 5px #ccc;
                }
            }

            &:nth-of-type(3) {
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 5px #ccc;
                }
            }

            &:nth-of-type(4) {
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 5px #ccc;
                }
            }

            &:nth-of-type(5) {
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 5px #ccc;
                }
            }
        }
    }

    .product {
        &_box {
            padding-top: 32px;
        }

        &_name {
            font-size: 18px;
            line-height: 22px;
            margin-top: 9px;
            margin-bottom: 4px;
        }

        &_large {
            font-size: 18px;
            line-height: 22px;
        }

        &_text {
            margin-bottom: 8px;
        }

        &_content {
            row-gap: 36px;
        }

        &_img {
            height: 226px;
        }
    }

    .price {
        font-size: 18px;
        line-height: 22px;
    }

    .footer {
        height: 364px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        &_content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &_info {
            padding-right: 100px;
            ;
        }

        &_items {
            padding-right: 32px;
        }

        &_form {
            padding-left: 37px;
            padding-right: 38px;
        }
    }

    .link {
        &_box {
            padding-bottom: 32px;
            margin-top: 36px;
        }

        &_catalog {
            font-size: 14px;
        }

    }

    .top_catalog {
        margin-bottom: 32px;

        &_content {
            font-size: 48px;
            line-height: 59px;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 32px;
        }
    }

    .select {
        font-size: 14px;
        line-height: 17px;
    }

    .heading-big {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        padding-top: 100px;
    }

    .cart {
        &_name_box {
            display: none;
        }

        &_img {
            display: none;
        }

        &_item {
            padding-top: 18px;
            padding-bottom: 24px;
        }

        &_info {
            width: 253px;
        }

        &__form {
            margin-bottom: 16px;
        }

    }

    .button_cline {
        font-size: 12px;
        line-height: 15px;
        width: 163px;
    }

    .button_active {
        font-size: 12px;
        line-height: 15px;
        width: 163px;
    }


}